{{>header}}

<p>We have use Weatherapi and Mapbox for getting the data.</p>

<form>
    <input placeholder="Location">
    <button>Get location</button>
</form>


<p id="msg1"></p>
<p id="msg2"></p>
        
{{>footer}}